<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<div class="container">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('blog.index') }}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('blog.create') }}">Create post</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin">BackDoor</a>
  </li>
  {% if g.user %}
  <li class="nav-item">
    <span class="nav-link">{{ g.user['username'] }}</span>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('auth.logout') }}">Log out</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('auth.register') }}">User Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('auth.login') }}">Log in</a>
  </li>
  {% endif %}
</ul>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
</div>